<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andyiac.talkischeap">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".ClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".interact_js.SecondActivity" />
        <activity android:name=".interact_js.WebViewJsInteractActivity" />
        <activity android:name=".interceptor_html.AndroidInterceptorHtmlActivity" />
        <activity android:name=".interceptor_html.ShowWebImageActivity" />
        <activity android:name=".activity.OverScrollActivity" />
        <activity android:name=".activity.PopWindowTestActivity" />
        <activity android:name=".activity.HorizontalRecyclerViewActivity" />
        <activity android:name=".activity.PullAndLoadMoreActivity" />
        <activity android:name=".activity.PullAndLoadMoreQiuTestActivity" />
        <activity android:name=".activity.ListViewFooterLoadMoreActivity" />
        <activity android:name=".activity.ScaleAnimationActivity" />
        <activity android:name=".activity.image.cropper.ScissorsActivity" />
        <activity android:name=".activity.image.cropper.CropResultActivity" />

        <activity
            android:name=".activity.SoftInputModeTestActivity"
            android:windowSoftInputMode="adjustResize">

        </activity>
    </application>


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
