<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andyiac.talkischeap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".ClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.NewMainActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <activity android:name=".interact_js.SecondActivity" />
        <activity android:name=".interact_js.WebViewJsInteractActivity" />
        <activity android:name=".interceptor_html.AndroidInterceptorHtmlActivity" />
        <activity android:name=".interceptor_html.ShowWebImageActivity" />
        <activity android:name=".activity.OverScrollActivity" />
        <activity android:name=".activity.PopWindowTestActivity" />
        <activity android:name=".activity.HorizontalRecyclerViewActivity" />
        <activity android:name=".activity.PullAndLoadMoreActivity" />
        <activity android:name=".activity.PullAndLoadMoreQiuTestActivity" />
        <activity android:name=".activity.ListViewFooterLoadMoreActivity" />
        <activity android:name=".activity.PDFViewActivity" />

        <activity
            android:name=".activity.FadingTitleBarActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.BottomSheetActivity" />
        <activity android:name=".activity.ScaleAnimationActivity" />
        <activity android:name=".activity.image.cropper.ScissorsActivity" />
        <activity android:name=".activity.image.cropper.CropResultActivity" />
        <activity android:name=".activity.EventBusDemoActivity" />
        <activity android:name=".activity.XfzMeetingListCustomViewActivity" />

        <activity
            android:name=".activity.SoftInputModeTestActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.ImageBitmapMemoryTestActivity" />


        <activity
            android:name="com.andyiac.talkischeap.ijkplayer.activities.SampleMediaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="user"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.andyiac.talkischeap.ijkplayer.activities.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="user"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:scheme="http" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <service
            android:name="com.andyiac.talkischeap.ijkplayer.services.MediaPlayerService"
            android:enabled="false"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" />


    </application>


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
